<p>
You must find your way through the maze. The correct path through the maze will take you through 15 rooms; the word in room 15
is the answer you need.
</p>
<p>
Each room has a number and a word associated with it. Each room will also contain an instruction, which will help you determine whether to
go left, right or forwards into the next room.</p>
<ul>
    <li>Unless otherwise specified, instructions for a room apply for the current room and all future rooms.</li>
    <li>Later instructions supersede earlier ones unless precedence is otherwise specified.</li>
    <li>Instructions which refer to the "current room" or "previous room" apply to all subsequent rooms; e.g. if the instruction in room 2 
        says "If the current word is RELAY then go left", and the word for room 13 was "RELAY", then you would go left
        (unless a later instruction superseded this).</li>
    <li>Rooms 5, 10 and 15 will tell you if you've made a wrong move to date, but won't tell you when you made the mistake.
        Wrong moves earlier than these rooms will result in random instructions until you reach one of these rooms.</li>
    <li>You may reset at any time, which will take you back to the first room.</li>
</ul>
<p>Enter the maze below...</p>

<div class="maze-container">
    <div class="sign-container">
        <p class="room-number">Room number: {{ roomNumber }}</p>
        <p class="room-word">Room word: {{ roomWord }}</p>    
    </div>
    <div class="instruction-container">
        <p class="room-instruction">Room instruction: {{ roomInstruction }}</p>    
    </div>
</div>

<div *ngIf="isAtEnd">
    <p>You're at the end!</p>
</div>
<div *ngIf="!isAtEnd">
    <button class="direction-button" (click)="left()">Left</button>
    <button class="direction-button" (click)="forwards()">Forwards</button>
    <button class="direction-button" (click)="right()">Right</button>    
</div>
<button class="reset-button" (click)="reset()">Reset</button>

<div *ngIf="isComplete">
    <p>
        Alongside the last word, you're treated to a nice portrait! You've earned it!
    </p>
    <app-portrait [name]="'Adam Jones'" [title]="'Duke of Ealing'" [imageName]="'adam-jones-duke-ealing'"></app-portrait>
</div>

<app-answer
    [correctAnswers]="correctAnswers"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>

