<p>These will also be scattered amongst a few other places. These pieces are currently unrotated - not sure whether rotating some of them makes it too hard.</p>
<img class="scale-jigsaw" src="../../../assets/jigsaw-populated-1.png" />
<img class="scale-jigsaw" src="../../../assets/jigsaw-populated-3.png" />
<img class="scale-jigsaw" src="../../../assets/jigsaw-populated-5.png" />
<img class="scale-jigsaw" src="../../../assets/jigsaw-populated-7.png" />
<img class="scale-jigsaw" src="../../../assets/jigsaw-populated-2.png" />
<img class="scale-jigsaw" src="../../../assets/jigsaw-populated-4.png" />
<img class="scale-jigsaw" src="../../../assets/jigsaw-populated-6.png" />
<img class="scale-jigsaw" src="../../../assets/jigsaw-populated-8.png" />

<app-answer
    [correctAnswer]="correctAnswer"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleValidationResponse()"
    (closeItem)="handleClose()">
</app-answer>