<p>
    Your available puzzles are below.
</p>

<div class="tile-grid">
    <div *ngIf="permissionsStatus.getIsPuzzle1Permitted" class="tile-selectable" (click)="selectPuzzle1()">
        <app-tile
            [title]="'Puzzle 1'"
            [description]="'Puzzle 1 description goes here'"
            [complete]="answerStatus.puzzle1">
        </app-tile>
    </div>
    <div *ngIf="permissionsStatus.getIsPuzzle2Permitted" class="tile-selectable" (click)="selectPuzzle2()">
        <app-tile
            [title]="'Puzzle 2'"
            [description]="'Puzzle 2 description goes here'" 
            [complete]="answerStatus.puzzle2">
        </app-tile>
    </div>
    <div *ngIf="permissionsStatus.getIsPuzzle3Permitted" class="tile-selectable" (click)="selectPuzzle3()">
        <app-tile
            [title]="'Puzzle 3'"
            [description]="'Puzzle 3 description goes here'"
            [complete]="answerStatus.puzzle3">
        </app-tile>    
    </div>
</div>
