<p>This one might be too hard as it stands; there are ways to phrase it to make it easier</p>
<p>You find a pile of 14 cards on the floor with words on. Although they are out of order, you eventually realise that there is one card missing.</p>
<p>The words are:</p>
<ul>
    <li>Monk</li>
    <li>Religious</li>
    <li>Chess</li>
    <li>Djibouti</li>
    <li>Bishop</li>
    <li>Turkey</li>
    <li>Psych</li>
    <li>Bird</li>
    <li>TV</li>
    <li>Country</li>
    <li>Raven</li>
    <li>Silent</li>
    <li>Knight</li>
    <li>Vatican</li>
</ul>

What word should go on the missing card?

<app-answer
    [correctAnswer]="correctAnswer"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>