<p>Welcome to this escape room! Some rules/observations:</p>
<ul>
    <li>There are 14 puzzles in total. Answering any puzzle correctly will open a new puzzle until all 14 are available.</li>
    <li>No puzzles require guesswork - there is never a need to brute force an answer.</li>
    <li>Please do Google things; some puzzles will almost certainly require this!</li>
    <li>There's nothing hidden in HTML, URLs etc - everything you need will be visible on a page.</li>
    <li>Some puzzles will require parts given as rewards from earlier puzzles.</li>
    <li>Answers are not case sensitive, and spaces are ignored.</li>
    <li>The "reset progress" option will remove all submitted answers and restarts the room. Only use this if you want to start again from the beginning.</li>
</ul>
<p>Make sense? Type "ready" if you're ready to go!</p>
<app-answer
    [correctAnswers]="correctAnswers"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>

<div *ngIf="isComplete">
    Here's some stuff for getting the answer right! I'm sure this'll prove to be useful?
    <app-jigsaw [pieceNumber]="8"></app-jigsaw>
    <app-portrait [name]="'George Smith'" [title]="'Duke of Singapore'" [imageName]="'george-smith-duke-singapore'"></app-portrait>
    <app-scale [scaleNumber]="5"></app-scale>
</div>
