.tile {
    background-color: #5661A9;
    color: #E9eef1;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    display: content;
    width: 256px;
    padding: 8px;
    height: 11rem;
}

.tile-header {
    position: relative;

    h2 {
        font-size: 38px;
        max-width: calc(100% - 48px);
    }
}

.tile-description {
    font-size: 17px;
}

.tile-status {
    display: block;
    width: 32px;
    height: 32px;
    background-color: red;
    position: absolute;
    right: 4px;
    top: -28px;
    border-radius: 16px;

    &.success {
        background-color: green;
    }
}
