<p>Welcome to the word buffet!</p>
<p>Help yourself to some letters; but make sure you still leave some words for the next visitors!</p>
<p>And no rearranging!</p>

<ol>
<li>SLEEP</li>
<li>CHOOSE</li>
<li>SPROUT</li>
<li>CROWD</li>
<li>SHARP</li>
<li>HEATHER</li>
<li>POISE</li>
<li>INSPECT</li>
</ol>

<div *ngIf="isComplete">
    <p>
        The waiter at the buffet gives you a small word in a jigsaw-themed doggy bag to take home with you.
    </p>
    <app-jigsaw [pieceNumber]="3"></app-jigsaw>
</div>

<app-answer
    [correctAnswers]="correctAnswers"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>

