@import '/src/_variables.scss';

.menu-panel {
    list-style-type: none;
    padding-left: 1rem;
    padding-right: 1rem;

    button {
        width: 100%;
        text-align: left;
        font-size: 14px;

        &.selected {
            background-color: $color-button-text;
            color: $color-button-background;
            border-color: $color-button-background;
        }

        &.completed {
            text-decoration: line-through;
        }
    }

    // li {
    //     padding-top: 4px;
    //     padding-bottom: 4px;
    //     margin-bottom: 4px;
    //     margin-top: 4px;
    //     padding-left: 0;
    //     background-color: $color-button-background;
    //     cursor: pointer;
    //     border-radius: 8px;
        
    //     a {
    //         padding-left: 1rem;
    //     }
    // }

    // li:hover {
    //     background-color: $color-button-text;
    //     color: $color-button-background;
    //     border-color: $color-button-background;
    // }
}
