<ul class="menu-panel">
    <li *ngIf="permissionsStatus.getIsContentsPermitted">
        <a (click)="showContents()">All puzzles</a>
    </li>
    <li *ngIf="permissionsStatus.getIsIntroPermitted">
        <a (click)="showIntro()">0. Intro</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle1Permitted">
        <a (click)="showPuzzle1()">1. Hartnell</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle2Permitted">
        <a (click)="showPuzzle2()">2. Troughton</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle3Permitted">
        <a (click)="showPuzzle3()">3. Pertwee</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle4Permitted">
        <a (click)="showPuzzle4()">4. Baker</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle5Permitted">
        <a (click)="showPuzzle5()">5. Davison</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle6Permitted">
        <a (click)="showPuzzle6()">6. Baker</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle7Permitted">
        <a (click)="showPuzzle7()">7. McCoy</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle8Permitted">
        <a (click)="showPuzzle8()">8. McGann</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle9Permitted">
        <a (click)="showPuzzle9()">9. Eccleston</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle10Permitted">
        <a (click)="showPuzzle10()">10. Tennant</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle11Permitted">
        <a (click)="showPuzzle11()">11. Smith</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle12Permitted">
        <a (click)="showPuzzle12()">12. Capaldi</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle13Permitted">
        <a (click)="showPuzzle13()">13. Whittaker</a>
    </li>
    <li *ngIf="permissionsStatus.getIsPuzzle14Permitted">
        <a (click)="showPuzzle14()">14. Gatwa</a>
    </li>
    <li *ngIf="permissionsStatus.getIsConclusionPermitted">
        <a (click)="showConclusion()">Conclusion</a>
    </li>
    <li *ngIf="permissionsStatus.getIsSignInPermitted">
        <a (click)="showSignIn()">Sign in</a>
    </li>
    <li *ngIf="permissionsStatus.getIsSignOutPermitted">
        <a (click)="handleSignOut()">Reset progress</a>
    </li>
</ul>
