<p>A scrap of paper you find has some scribbled notes on it:</p>
<div class="notepad">
    <div class="top"></div>
    <div class="paper">
        <p>(George W Bush president number).(David Fincher, Brad Pitt, Morgan Freeman film)(U+004E)</p>
        <p>(Route from Cleveland to Cayce).(Olympian Muses)(U times 2)</p>
        <p>Which lake am I?</p>        
    </div>
</div>
<p>What could it mean?</p>

<div *ngIf="isComplete">
    <p>
        On the back of the piece of paper, you see the following item scrawled.
    </p>
    <app-scale [scaleNumber]="3"></app-scale>
</div>

<app-answer
    [correctAnswer]="correctAnswer"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>

