<!-- Images from https://getavataaars.com/ -->

<p>What a lovely portrait gallery! But wait! It seems that there is only one portrait left here;
    from dirt smudges on the wall you can see that five portraits are missing, and the only one left is missing a name plate.</p>

<app-portrait [name]="'???'" [title]="'???'" [imageName]="'nice-try-no-hint-here'"></app-portrait>

<p>Who is this? Give your answer in the form "Joe Bloggs, Chief of London".</p>

<div *ngIf="isComplete">
    <p>
        Having identified the missing name, your mind wanders. As it wanders, it picks up a jigsaw piece. That'll probably need surgery to remove.
    </p>
    <app-jigsaw [pieceNumber]="4"></app-jigsaw>
</div>

<app-answer
    [correctAnswer]="correctAnswer"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>
