<div class="menu-container">
  <app-menu
    [permissionsStatus]="permissionsStatus"
    [visibilityStatus]="visibilityStatus"
    (requestSignOut)="handleRequestSignOut()"></app-menu>
</div>
<div class="body-container">
  <div *ngIf="!isValidated">
    <app-sign-in (correctAnswerProvided)="successfulValidation()"></app-sign-in>
  </div>
  <div *ngIf="isValidated">
    <div class="menu-bar">
      <div *ngIf="visibilityStatus.getIsContentsVisible">
        <app-contents
          [answerStatus]="answerStatus"
          [permissionsStatus]="permissionsStatus"
          (selectedPuzzle)="handleSelectedPuzzle($event)"></app-contents>
      </div>  
    </div>
    <div class="main-body">
      <div *ngIf="permissionsStatus.getIsPuzzle1Permitted && visibilityStatus.getIsPuzzle1Visible">
        <app-puzzle1
          [isComplete]="answerStatus.getIsPuzzle1Complete"
          (correctAnswerProvided)="handlePuzzle1Result()"
          (close)="showContents()"></app-puzzle1>
      </div>
      <div *ngIf="permissionsStatus.getIsPuzzle2Permitted && visibilityStatus.getIsPuzzle2Visible">
        <app-puzzle2
          [isComplete]="answerStatus.getIsPuzzle2Complete"        
          (correctAnswerProvided)="handlePuzzle2Result()"
          (close)="showContents()"></app-puzzle2>
      </div>
      <div *ngIf="permissionsStatus.getIsPuzzle3Permitted && visibilityStatus.getIsPuzzle3Visible">
        <app-puzzle3
          [isComplete]="answerStatus.getIsPuzzle3Complete"        
          (correctAnswerProvided)="handlePuzzle3Result()"
          (close)="showContents()"></app-puzzle3>
      </div>
      <div *ngIf="isComplete">
        <app-complete></app-complete>
      </div>
    </div>
  </div>
</div>