<p>These will be scattered amongst a few other places, and the last image will be found above an old piano.</p>
<div>
    <div>
        <img class="scale-image" src="../../../assets/scale-1.png" />
    </div>
    <div>
        <img class="scale-image" src="../../../assets/scale-2.png" />
    </div>
    <div>
        <img class="scale-image" src="../../../assets/scale-3.png" />
    </div>
    <div>
        <img class="scale-image" src="../../../assets/scale-4.png" />
    </div>
    <div>
        <img class="scale-image" src="../../../assets/scale-5.png" />
    </div>
    <div>
        <img class="scale-image" src="../../../assets/scale-6.png" />
    </div>
</div>
<app-answer
    [correctAnswer]="correctAnswer"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>