.input-container {
    padding-right: 8px;
    display: inline-block;
}

.messages-container {
    padding-top: 8px;
    padding-bottom: 8px;
}

.buttons-container {
    padding-top: 8px;
    padding-bottom: 16px;
}
