<p>You enter a library. By the door to the room, there is a wall covered in pigeonholes, each large enough to fit a single book. </p>
<div class="pigeonhole-container">
    <app-pigeonhole [number]="'075'" [letter]="'T'"></app-pigeonhole>
    <app-pigeonhole [number]="'156'" [letter]="'M'"></app-pigeonhole>
    <app-pigeonhole [number]="'274'" [letter]="'R'"></app-pigeonhole>
    <app-pigeonhole [number]="'345'" [letter]="'P'"></app-pigeonhole>
    <app-pigeonhole [number]="'385'" [letter]="'B'"></app-pigeonhole>
    <app-pigeonhole [number]="'435'" [letter]="'W'"></app-pigeonhole>
    <app-pigeonhole [number]="'512'" [letter]="'O'"></app-pigeonhole>
    <app-pigeonhole [number]="'520'" [letter]="'U'"></app-pigeonhole>
    <app-pigeonhole [number]="'560'" [letter]="'S'"></app-pigeonhole>
    <app-pigeonhole [number]="'616'" [letter]="'F'"></app-pigeonhole>
    <app-pigeonhole [number]="'648'" [letter]="'L'"></app-pigeonhole>
    <app-pigeonhole [number]="'657'" [letter]="'J'"></app-pigeonhole>
    <app-pigeonhole [number]="'748'" [letter]="'A'"></app-pigeonhole>
    <app-pigeonhole [number]="'795'" [letter]="'N'"></app-pigeonhole>
    <app-pigeonhole [number]="'824'" [letter]="'E'"></app-pigeonhole>
    <app-pigeonhole [number]="'941'" [letter]="'Y'"></app-pigeonhole>
</div>

Piled beside them are the following eight books.
<ul>
    <li>1. "Accounting" by Penny Pincher</li>
    <li>2. "Algebra" by Cal Culator</li>
    <li>3. "Astronomy" by U. Ranus</li>
    <li>4. "History of Christianity in Europe" by Bjorn Again and Dee Syple</li>
    <li>5. "Games of chance" by Lottie Ree</li>
    <li>6. "Glass" by Gwyn Doe</li>
    <li>7. "Housekeeping" by Dusty Brush</li>
    <li>8. "Paleontology" by Terry Dactyl</li>
</ul>

<div *ngIf="isComplete">
    <p>
        Behind the old books is a gallery of all the people who failed to return a library book on time. You'll never find a more
        wretched hive of scum and villainy. One face in particular looks familiar to you.
    </p>
    <app-portrait [name]="'Paul Smith'" [title]="'Duke of Bath'" [imageName]="'paul-smith-duke-bath'"></app-portrait>
</div>

<app-answer
    [correctAnswer]="correctAnswer"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>
