<p>These will also be scattered amongst a few other places. These pieces are currently unrotated - not sure whether rotating some of them makes it too hard.</p>
<app-jigsaw [pieceNumber]="1"></app-jigsaw>
<app-jigsaw [pieceNumber]="3"></app-jigsaw>
<app-jigsaw [pieceNumber]="5"></app-jigsaw>
<app-jigsaw [pieceNumber]="7"></app-jigsaw>
<app-jigsaw [pieceNumber]="2"></app-jigsaw>
<app-jigsaw [pieceNumber]="4"></app-jigsaw>
<app-jigsaw [pieceNumber]="6"></app-jigsaw>
<app-jigsaw [pieceNumber]="8"></app-jigsaw>

<app-answer
    [correctAnswer]="correctAnswer"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>