<p>
    Ah, here are the last pieces of the jigsaw! Hopefully you've found the other 7 pieces.
</p>

<app-jigsaw [pieceNumber]="6"></app-jigsaw>
<app-jigsaw [pieceNumber]="7"></app-jigsaw>

<app-answer
    [correctAnswers]="correctAnswers"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>

<div *ngIf="isComplete">
    <p>
        No special reward for you here; other than the pleasure of a puzzle well assembled.
    </p>
</div>
