<p>These will be scattered amongst a few other places, and the last image will be found above an old piano.</p>
<div>
    <app-scale [scaleNumber]="1"></app-scale>
    <app-scale [scaleNumber]="2"></app-scale>
    <app-scale [scaleNumber]="3"></app-scale>
    <app-scale [scaleNumber]="4"></app-scale>
    <app-scale [scaleNumber]="5"></app-scale>
    <app-scale [scaleNumber]="6"></app-scale>
</div>
<app-answer
    [correctAnswer]="correctAnswer"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>