<p>Somebody's built us a wordsearch.</p>

<table>
    <thead>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
    </thead>
    <tbody>
        <tr><td>H</td><td>H</td><td>H</td><td>C</td><td>F</td><td>F</td><td>T</td><td>Z</td><td>G</td><td>R</td><td>N</td><td>Z</td><td>R</td><td>M</td><td>J</td><td>M</td><td>B</td><td>B</td><td>W</td><td>D</td></tr>
        <tr><td>W</td><td>H</td><td>C</td><td>F</td><td>G</td><td>G</td><td>F</td><td>J</td><td>Z</td><td>C</td><td>Z</td><td>C</td><td>N</td><td>C</td><td>J</td><td>X</td><td>J</td><td>B</td><td>B</td><td>D</td></tr>
        <tr><td>N</td><td>C</td><td>M</td><td>F</td><td>R</td><td>W</td><td>N</td><td>J</td><td>C</td><td>Z</td><td>N</td><td>T</td><td>N</td><td>W</td><td>X</td><td>J</td><td>M</td><td>T</td><td>B</td><td>B</td></tr>
        <tr><td>B</td><td>R</td><td>W</td><td>F</td><td>H</td><td>H</td><td>H</td><td>W</td><td>C</td><td>Z</td><td>W</td><td>H</td><td>B</td><td>C</td><td>L</td><td>L</td><td>R</td><td>M</td><td>H</td><td>B</td></tr>
        <tr><td>B</td><td>M</td><td>H</td><td>F</td><td>X</td><td>J</td><td>F</td><td>R</td><td>C</td><td>Z</td><td>X</td><td>H</td><td>B</td><td>L</td><td>C</td><td>N</td><td>L</td><td>K</td><td>D</td><td>D</td></tr>
        <tr><td>M</td><td>C</td><td>N</td><td>J</td><td>F</td><td>F</td><td>B</td><td>N</td><td>M</td><td>Z</td><td>X</td><td>H</td><td>W</td><td>L</td><td>W</td><td>R</td><td>L</td><td>K</td><td>D</td><td>W</td></tr>
        <tr><td>M</td><td>C</td><td>H</td><td>W</td><td>G</td><td>H</td><td>N</td><td>T</td><td>T</td><td>T</td><td>N</td><td>H</td><td>B</td><td>L</td><td>X</td><td>J</td><td>L</td><td>K</td><td>K</td><td>K</td></tr>
        <tr><td>R</td><td>T</td><td>T</td><td>T</td><td>G</td><td>G</td><td>R</td><td>T</td><td>W</td><td>T</td><td>W</td><td>H</td><td>B</td><td>L</td><td>X</td><td>N</td><td>L</td><td>H</td><td>W</td><td>K</td></tr>
        <tr><td>B</td><td>G</td><td>Q</td><td>J</td><td>W</td><td>G</td><td>X</td><td>Q</td><td>T</td><td>T</td><td>X</td><td>H</td><td>M</td><td>B</td><td>L</td><td>L</td><td>H</td><td>N</td><td>N</td><td>K</td></tr>
        <tr><td>G</td><td>G</td><td>Q</td><td>Q</td><td>B</td><td>H</td><td>X</td><td>Q</td><td>T</td><td>X</td><td>R</td><td>R</td><td>R</td><td>R</td><td>R</td><td>R</td><td>N</td><td>W</td><td>N</td><td>T</td></tr>
        <tr><td>W</td><td>R</td><td>Q</td><td>X</td><td>Q</td><td>X</td><td>R</td><td>Q</td><td>T</td><td>T</td><td>V</td><td>V</td><td>V</td><td>N</td><td>C</td><td>W</td><td>H</td><td>N</td><td>N</td><td>K</td></tr>
        <tr><td>N</td><td>T</td><td>Q</td><td>J</td><td>N</td><td>Q</td><td>W</td><td>Q</td><td>R</td><td>T</td><td>V</td><td>C</td><td>C</td><td>V</td><td>B</td><td>M</td><td>X</td><td>N</td><td>K</td><td>X</td></tr>
        <tr><td>B</td><td>T</td><td>Q</td><td>B</td><td>B</td><td>N</td><td>Q</td><td>Q</td><td>R</td><td>T</td><td>V</td><td>C</td><td>C</td><td>V</td><td>B</td><td>J</td><td>W</td><td>K</td><td>X</td><td>N</td></tr>
        <tr><td>M</td><td>T</td><td>Q</td><td>B</td><td>C</td><td>H</td><td>W</td><td>Q</td><td>R</td><td>W</td><td>V</td><td>V</td><td>V</td><td>C</td><td>B</td><td>H</td><td>K</td><td>X</td><td>M</td><td>T</td></tr>
        <tr><td>R</td><td>B</td><td>N</td><td>J</td><td>J</td><td>R</td><td>H</td><td>N</td><td>R</td><td>G</td><td>V</td><td>M</td><td>V</td><td>H</td><td>H</td><td>K</td><td>T</td><td>D</td><td>M</td><td>B</td></tr>
        <tr><td>G</td><td>B</td><td>N</td><td>W</td><td>J</td><td>C</td><td>T</td><td>T</td><td>G</td><td>G</td><td>V</td><td>J</td><td>H</td><td>V</td><td>K</td><td>J</td><td>X</td><td>D</td><td>M</td><td>B</td></tr>
        <tr><td>G</td><td>N</td><td>N</td><td>T</td><td>J</td><td>M</td><td>T</td><td>K</td><td>G</td><td>K</td><td>C</td><td>H</td><td>H</td><td>K</td><td>M</td><td>W</td><td>M</td><td>D</td><td>W</td><td>B</td></tr>
        <tr><td>G</td><td>R</td><td>T</td><td>T</td><td>D</td><td>D</td><td>D</td><td>D</td><td>W</td><td>G</td><td>J</td><td>C</td><td>K</td><td>M</td><td>T</td><td>M</td><td>M</td><td>D</td><td>M</td><td>B</td></tr>
        <tr><td>G</td><td>G</td><td>M</td><td>N</td><td>R</td><td>J</td><td>M</td><td>K</td><td>G</td><td>K</td><td>N</td><td>W</td><td>C</td><td>C</td><td>B</td><td>B</td><td>B</td><td>B</td><td>B</td><td>B</td></tr>
    </tbody>
</table>

<p> Unfortunately, doesn't look like they understand how wordsearches are supposed to work - they seem to have forgotten the vowels. They've also only left one clue.</p>
<p>FLVQZ</p>
<p>Pretty sure that's not a word. Pretty sure that doesn't appear in the grid either. Strange.</p>

<app-answer
    [correctAnswer]="correctAnswer"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>