<!-- Images from https://getavataaars.com/ -->

<p>What a lovely portrait gallery!</p>

<app-portrait [name]="'George Smith'" [title]="'Duke of Singapore'" [imageName]="'george-smith-duke-singapore'"></app-portrait>
<app-portrait [name]="'Adam Jones'" [title]="'Duke of Ealing'" [imageName]="'adam-jones-duke-ealing'"></app-portrait>
<app-portrait [name]="'Brian Brown'" [title]="'Viscount of Banbridge'" [imageName]="'brian-brown-viscount-banbridge'"></app-portrait>
<app-portrait [name]="'Paul Smith'" [title]="'Duke of Bath'" [imageName]="'paul-smith-duke-bath'"></app-portrait>
<app-portrait [name]="'Adam Brown'" [title]="'Lord of Singapore'" [imageName]="'adam-brown-lord-singapore'"></app-portrait>

<p>Looks like one of the portraits has lost its name plate.</p>

<app-portrait [name]="'???'" [title]="'???'" [imageName]="'nice-try-no-hint-here'"></app-portrait>

<p>Who is this? Give your answer in the form "Joe Bloggs, Chief of London".</p>

<app-answer
    [correctAnswer]="correctAnswer"
    [errorMessage]="errorMessage"
    [isComplete]="isComplete"
    (onComplete)="handleCorrectAnswerProvided()"
    (closeItem)="handleClose()">
</app-answer>